{% extends  'base.html' %}

{% block content %}


 <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Hi, I’m Samsul. Welcome to my Travel Blog!</h1>
        <h2>Why I Travel</h2>
<p>I believe that travel is so much more than simply seeing the sights – that travel, and the things you learn from it, can really change your life.</p>

<p>I travel to grow as a person, to meet others who inspire and educate me and to (hopefully!) do the same in return, to have my life enriched by the beauty and diversity of this amazing world and to have my eyes, mind and heart opened wide.</p>

<p>I travel to make the most of my time on earth, to make every day count, instead of counting down the days till the weekend or to a 2 week vacation – because life is simply too short for me to live it any other way!</p>
       


      </div>
    </div>
  </div>



{% endblock %}